# Include specific directories
!dunst/.config/
!ghostty/.config/
!i3/.config/
!nvim/.config/
!polybar/.config/
!tmux/.tmux.conf
!zsh/.zshrc

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
lazy-lock.json
