# Include specific directories
!../nvim/
!../alacritty/
!../../.tmux.conf
# !tmux/
# !i3/
# !polybar/

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Ignore all other files and directories
/*

